.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
  text-align: start;
}

.feedback-form {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  margin: 0 auto;
  margin-top: 50px;
}

.input-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
  margin-top: 4px;
}

.button {
  background-color: #4f7eff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #3b67e5;
}
